<div class="container-fluid footer" >
  <div class="row">
    <div class="col-12 col-sm-4 footer-brand text-md-start">
      <a class="brand" routerLink="">
        <img src="/assets/icon/TICONO_PALE.png" width="30" height="30" alt="icono-magico-logo">
        Cine Mágico
      </a>
    </div>
    <div class="col-12 col-sm-4 text-center">
      <p class="mb-0">
        <span ><a class="icon-footer" href="http://instagram.com/" target="blank" aria-label="instagram-link"><em class="bi bi-instagram"></em></a></span>
        <span ><a class="icon-footer" href="http://www.facebook.com/profile.php?id=" target="blank" aria-label="facebook-link"><em class="bi bi-facebook"></em></a></span>
        <span ><a class="icon-footer" href="http://www.linkedin.com/in/" aria-label="linkedin-link"><em class="bi bi-linkedin" target="blank"></em></a></span>
        <span ><a class="icon-footer" href="http://twitter.com/" aria-label="x-link"><em class="bi bi-twitter-x" target="blank"></em></a></span>
        <span ><a class="icon-footer" href="http://youtube.com/" aria-label="youtube-link"><em class="bi bi-youtube" target="blank"></em></a></span>
        <span ><a class="icon-footer" href="mailto:" aria-label="mail-link"><em class="bi bi-envelope" target="blank"></em></a></span>
      </p>
      <address style="font-size: 80%" class="address-footer">
        <em class="fa fa-phone"></em>: +57 1234 5678<br>
        <em class="fa fa-envelope"></em><span i18n>Mail : </span>
        <a href="mailto:correo@webpage.com">correo&#64;webpage.com</a>
      </address>

    </div>
  </div>
  
  <div class="row  text-center">
    <div>
      <p class="copyrigth">© Copyright 2023 Maestría en Ingeniería de software. Uniandes</p>
    </div>
  </div>

