<div class="container-fluid outter-container gx-4 gx-lg-5 h-100 pt-2">
  <nav aria-label="breadcrumb" class="breadcrumb-detalle">
    <ol class="breadcrumb">
      <li  i18n class="breadcrumb-item"><a routerLink="">Index</a></li>
      <li i18n class="breadcrumb-item active"><a routerLink="/actors/list">Actors</a></li>
      <li i18n class="breadcrumb-item active" aria-current="page">Detail</li>
    </ol>
  </nav>
  <div class="row align-items-center justify-content-center text-center">
    <div class="col-12">
      <h2  i18n class="font-weight-bold title">ACTOR INFORMATION</h2>
    </div>
    <div class="row mb-3">
      <div class="col-12 col-sm-6 px-3">
        <div class="card p-2 px-4-sm" style="width: 100%;">
          <img class="card-img-top" src="{{ actorDetail.photo }}" alt="{{ actorDetail.name }}"
            style="max-width: 600px;"  />
        </div>
      </div>
      <div class="col-12 col-sm-6 px-3">
        <div class="card p-2 px-4-sm" style="width: 100%;">
          <div class="card-body movies-detail">
            <h4 class="actor-name">{{ actorDetail.name }}</h4>
            <p i18n class="actor-nacionality">{{ actorDetail.nationality }}</p>
            <p class="movie-birthday">{{ actorDetail.birthDate  | date }}</p>
            <p i18n class="movie-birthday">{{ actorDetail.biography }}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row mb-3 p-2 px-4-sm movies-list text-center" *ngFor="let movie of actorDetail.movies" style="width: 100%;">
      <div class="col-3 col-sm-2  text-start movie-picture-container">
        <img class="movie-picture" src="{{ movie.poster }}" alt="{{ movie.title }}"
          style="max-width: 100px; height: auto;" />
      </div>
      <div class="col-9 col-sm-4 text-detail">
        <h4 class="movie-title text-start">{{ movie.title }}</h4>
        <p class="movie-text text-start mb-0">Release date: {{ movie.releaseDate | date }}</p>
        <p  i18n class="movie-country text-start mb-0"> {{ movie.country }}</p>
      </div>
      <div class="col-12 col-sm-6 details-container">
        <h5 i18n class="card-details" routerLink="/movies/{{movie.id}}">More details <em class="bi bi-arrow-right-circle-fill"></em></h5>
      </div>
    </div>


  </div>
</div>